{% load form_tags %}
{% load widget_tweaks %}

<script type="text/javascript">
    var child_options_id = '#id_child_id';

    $(document).on('change', child_options_id, function (event) {
        event.preventDefault();
        child_id = $(this).find("option:selected").attr('value');
        {#alert("Child Id:" + child_id);#}
        update_parent_variant_product_info(child_id);
    });


    function update_parent_variant_product_info(child_id) {
        console.log(child_id);// sanity check

        var id_product_info = '#product_info';
        var product_info = $(id_product_info);
        console.log("Product Info html" + product_info.html());

        var product_info_url = "{% url 'catalogue:product_info' 123 %}".replace('123', child_id);
        console.log("URL:", product_info_url);

        $(id_product_info).html('').load(product_info_url);

        var parent_price_details = "{% url 'catalogue:price_details' 123 %}".replace('123', child_id);
        var id_product_price_details = "#product_price_details";
        $(id_product_price_details).html('').load(parent_price_details);
    }
</script>

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}
    {% annotate_form_field field %}

    {% block control_group %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">

            {% block label %}
                {% if not nolabel and field.widget_type != 'CheckboxInput' %}
                    <label for="{{ field.auto_id }}"
                           class="{% if style|default:"stacked" != 'stacked' %}col-sm-4{% endif %} control-label{% if field.field.required %} required{% endif %}">
                        {{ field.label|safe }}
                    </label>
                {% endif %}
            {% endblock %}

            {% block controls %}
                <div class="{% if style|default:"stacked" != 'stacked' %}col-sm-7{% endif %}">
                    {% block widget %}
                        {% if field.widget_type == 'CheckboxInput' %}
                            <label for="{{ field.auto_id }}"
                                   class="checkbox {% if field.field.required %}required{% endif %}">
                                {{ field.label|safe }}
                                {% render_field field class+="form-control" %}
                            </label>
                        {% else %}
                            {% render_field field class+="form-control" %}
                        {% endif %}
                    {% endblock %}

                    {% block errors %}
                        {% for error in field.errors %}
                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    {% endblock %}

                    {% block help_text %}
                        {% if field.help_text %}
                            <span class='help-block'>
                                {# We allow HTML within form help fields #}
                                {{ field.help_text|safe }}
                            </span>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}
