{% load i18n %}
{% load purchase_info_tags %}
{% load currency_filters %}
{% load display_tags %}

<div id="product_info">
    <h3>
        <span style="color:white; background-color: #0cc485;width: 25%;padding: 5px 10px;">Product: {{ product }}</span>
        {% if product.tag %}
            {#            'Certified Oragnic' %}#}
            <span style="background-color: brown;color: white;}">
                <i class="fa fa-certificate" style="color: #1fe69b;"></i> certified</span>
        {% endif %}
    </h3>
    <table class="table table-striped">
        {#        {% if product.upc %}#}
        {#            <tr>#}
        {#                <th>{% trans "UPC" %}</th>#}
        {#                <td>{{ product.upc }}</td>#}
        {#            </tr>#}
        {#        {% endif %}#}
        {#        <tr>#}
        {#            <th>{% trans "Product Type" %}</th>#}
        {#            <td>{{ product.get_product_class.name }}</td>#}
        {#        </tr>#}

        {% purchase_info_for_product request product as session %}
        <tr>
            <th>{% trans 'Weight' %}</th>
            <td>{% if product.is_parent %}
                {{ session.weight }}
            {% else %}
                {{ product.weight }} {{ product.weight_unit }}
            {% endif %}
            </td>
        </tr>
        {% if session.pricing_strategy %}
            <tr>
                <th>{% trans 'Pricing Strategy' %}</th>
                <td>{{ session.pricing_strategy }}</td>
            </tr>

        {% endif %}

        {% if session.price.exists %}
            <tr>
                <th>{% trans "Price (excl. tax)" %}</th>
                <td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
            </tr>
            {% if session.price.is_tax_known %}
                <tr>
                    <th>{% trans "Price (incl. tax)" %}</th>
                    <td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Tax" %}</th>
                    <td>{{ session.price.tax|currency:session.price.currency }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{% trans "Availability" %}</th>
                <td>{{ session.availability.message }}</td>
            </tr>
        {% endif %}

        {% for av in product.attribute_values.all %}
            <tr>
                <th>{{ av.attribute.name }}</th>
                <td>{{ av.value_as_html }}</td>
            </tr>
        {% endfor %}
        {% iffeature "reviews" %}
            <tr>
                <th>{% trans "Number of reviews" %}</th>
                <td>{{ product.num_approved_reviews }}</td>
            </tr>
        {% endiffeature %}
    </table>
</div>