{% load static %}
{#{% load smart_load %}#}
{% load category_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oscar Orgatma</title>
    <meta name="keywords" content="Orgatma Organic Science Pvt. Ltd. - Cold press Groundnut Oil"/>

    <meta name="description" content="Orgatma Organic Science Pvt. Ltd. - Cold press Groundnut Oil"/>
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/images/icons/favicon.ico">
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>#}

    <!-- Plugins CSS File -->
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}

    <!-- Bootstrap 3 CSS Plugin -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Bootstrap 3 for Jquery -->
    <link rel="stylesheet" type="text/css" href="{% static 'javascript/bootstrap3/bootstrap.min.js' %}">

    <!-- Jquery for Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'javascript/jquery/jquery.min.js' %}">


    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    <!--  <link rel="stylesheet" type="text/css" href="../assets/css/custom.css"/>-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/Green.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-social.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

    {% block head_javascript %}
    {% endblock head_javascript %}
</head>
<body data-gr-c-s-loaded="true" class="loaded">

<div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="page-wrapper">
    <header class="header" id="header">
        <script>
            load_cart_data();
            sticky_cart_data();
        </script>
        <div class="header-top">
            <div class="container">
                <div class="header-left header-dropdowns">
                    <div class="header-dropdown dropdown-expanded">
                        <a href="#">Support</a>
                        <div class="header-menu">
                            <ul>
                                <li><a href="https://www.orgatma.com/public/faqs.php">FAQ'S </a></li>
                                <li><a href="https://www.orgatma.com/public/support.php">Support</a></li>

                                <li><a href="mailto:sales@orgatma.com?Subject=Hello%20again" target="_top">Email us</a>
                                </li>
                                <li><a href="tel:9325493217">Call us</a></li>
                                <li><a class="compare" style="cursor:pointer;">Compare</a></li>
                            </ul>
                        </div><!-- End .header-menu -->
                    </div>
                </div>


                <div class="header-center text-uppercase">
                    <a href="javascript:void(0);">WELCOME
                        {% if user.is_authenticated %}
                            {{ user.first_name }}
                        {% else %}
                            GUEST
                        {% endif %}
                    </a>
                </div>
                <div class="header-right">
                    <div class="header-dropdown dropdown-expanded">
                        <a href="index.php"><i class="icon-user"></i></a>
                        <div class="header-menu text-uppercase">
                            <ul>
                                <li><a href="https://www.orgatma.com/public/my-account.php">MY ACCOUNT </a></li>
                                <!-- <li><a href="dailydeals.php">DAILY DEAL</a></li> -->
                                <li><a href="https://www.orgatma.com/public/wishlist.php">MY WISHLIST </a></li>
                                {#                                <li><a href="{% url 'account_signup' %}">Register</a></li>#}
                                <li>
                                    {#                                    {% if user.is_authenticated %}#}
                                    {#                                        <a href="{% url 'account_logout' %}" class="login-link">LOG OUT</a>#}
                                    {#                                    {% else %}#}
                                    <a href="" class="logout-link">LOG IN</a>
                                    {#                                    {% endif %}#}
                                </li>
                            </ul>
                        </div><!-- End .header-menu -->
                    </div><!-- End .header-dropown -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <style type="text/css">
            .dropdown-menu {
                width: 100%;
                font-size: 15px;
                padding: 9px 5px;
            }
        </style>

        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <a href="#" class="logo">
                        <img src="{% static 'images/logo.png' %}" alt="Logo">
                    </a>
                </div><!-- End .header-left -->

                <div class="header-center">
                    <div class="header-search">
                        <a href="./Orgatma Organic Science Pvt. Ltd._files/index.php" class="search-toggle"
                           role="button"><i class="icon-magnifier"></i></a>
                        <form action="https://www.orgatma.com/public/category.php" id="frm" method="get">
                            <div class="header-search-wrapper">
                                <input type="search" class="form-control" autocomplete="off" name="proname" id="search"
                                       placeholder="Search..." required="">

                                <button class="btn" type="submit"><i class="icon-magnifier"></i></button>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                </div><!-- End .headeer-center -->

                <div class="header-right">
                    <button type="button" class="mobile-menu-toggler" data-toggle="collapse"
                            data-target="#collapsibleNavbar">
                        <i class="icon-menu"></i>
                    </button>
                    <div class="header-contact">
                        <span>Call us now</span>


                        <a href="tel:9325493217"><strong>+91 9325493217</strong></a>
                    </div><!-- End .header-contact -->

                    <div class="dropdown cart-dropdown">
                        <a href="#" class="dropdown-toggle"
                           role="button">
                            <span class="cart-count" id="mycount">0</span>
                        </a>

                        <div class="dropdown-menu">
                            <div class="dropdownmenu-wrapper">
                                <div class="dropdown-cart-products">
                                    <span id="prod"><div class="product-details "><h4
                                            class="product-title text-center text-danger">Cart is Empty!</h4></div></span>
                                    <!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price" id="total_price">₹0.00</span>
                                </div>
                                <!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="https://www.orgatma.com/public/checkout-shipping.php" class="btn">View
                                        Cart</a>
                                    <a href="https://www.orgatma.com/public/logincheckout.php" class="btn">Checkout</a>
                                </div>
                                <!-- End .dropdown-cart-total -->
                            </div>
                            <!-- End .dropdownmenu-wrapper -->
                        </div>
                        <!-- End .dropdown-menu -->
                    </div>
                    <!-- End .dropdown -->
                </div>
                <!-- End .header-right -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .header-middle -->
        <div class="sticky-wrapper" style="">
            <div class="header-bottom sticky-header">
                <div class="container">
                    <a href="https://www.orgatma.com/public/index.php" class="logo">
                        <img src="./Orgatma Organic Science Pvt. Ltd._files/14255237665e77f39407030.png" alt="Logo"
                             width="101" height="41">
                    </a>
                    <div class="dropdown cart-dropdown">

                        <a href="./Orgatma Organic Science Pvt. Ltd._files/index.php" class="dropdown-toggle"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           data-display="static">
                            <span class="cart-count" id="mycountsticky">0</span>
                        </a>

                        <div class="dropdown-menu">
                            <div class="dropdownmenu-wrapper">
                                <div class="dropdown-cart-products">
                                    <span id="prodstick"><div class="product-details "><h4
                                            class="product-title text-center text-danger">Cart is Empty!</h4></div></span>
                                    <!-- End .product -->
                                </div><!-- End .cart-product -->
                                <div class="dropdown-cart-total">
                                    <span>Total</span>
                                    <span class="cart-total-price" id="stickycart">₹0.00</span>
                                </div>
                                <!-- End .dropdown-cart-total -->
                                <div class="dropdown-cart-action">
                                    <a href="https://www.orgatma.com/public/checkout-shipping.php" class="btn">View
                                        Cart</a>
                                    <a href="https://www.orgatma.com/public/checkout-shipping.php"
                                       class="btn">Checkout</a>
                                </div>
                                <!-- End .dropdown-cart-total -->
                            </div>
                            <!-- End .dropdownmenu-wrapper -->
                        </div><!-- End .dropdown-menu -->
                    </div><!--  End .dropdown-card-dropdown -->

                    <nav class="main-nav">
                        {% include 'partials/nav_primary.html' %}
                    </nav>
                </div><!-- End .header-bottom -->
            </div>
        </div>
    </header>
</div><!-- End page-wrapper -->
{% block content %}
{% endblock content %}
</body>
</html>

